<li [ngClass]="{
'list-group-item':true,
'list-group-item-success': postAvis > 0,
'list-group-item-danger': postAvis < 0}">
<div [ngStyle]="{color: getColor()}">
  <h3><p  class=col-xs-5 col-md-3 col-lg-1 centreVerticalement>{{ postTitre }} </p > <p style="text-align: right"> publier  le : {{ lastUpdate | date: 'short' | uppercase }}</p> </h3>
  <h6> {{ postContenu }} </h6>
  {{postAvis}}

  <button class="btn btn-success" [disabled]="!isAuth"  (click)="onlike()">I like it</button>        <button class="btn btn-danger" [disabled]="!isAuth"  (click)="ondislike()">I dont  like it</button>
</div>
</li>
